@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Welcome to the factory</h1>

<hr>

<h4>List of Engineers</h4>
@if (Model["Engineers"].Length == 0)
{
  <p>No Engineer's have been added yet.</p>
}
<ul>
  @foreach (Engineer engineer in Model["Engineers"])
  {
    <li id="engineer">@Html.ActionLink(@engineer.EngineerName, "Details", "Engineers", new { id = @engineer.EngineerId})
    </li>
  }
</ul>
<hr>

<h4>List of Machines</h4>
@if (Model["Machines"].Length == 0)
{
  <p>No Machines have been added yet.</p>
}
<ul>
  @foreach (Machine machine in Model["Machines"])
  {
    <li id="machine">@Html.ActionLink(@machine.MachineLabel, "Details", "Machines", new { id = @machine.MachineId})</li>
  }
</ul>